@import url('https://fonts.googleapis.com/css?family=Pacifico|Signika:300,400,600|Ubuntu:400,500,700');

/*
font-family: 'Signika', sans-serif;
font-family: 'Ubuntu', sans-serif;
font-family: 'Pacifico', cursive;
*/


html {
    width: 100%;
    height: 100%;
}
body {
    width: 100%;
    height: 100%;
}

.wrapper {
    position: relative;

    min-height: 100%;
}

.footer {
    position: relative;

    height: 340px;
    margin-top: -340px;
}

.empty {
    height: 340px;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}

p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

* {
    font-family: sans-serif;
    font-size: 14px;

    box-sizing: border-box;
}

.container {
    position: relative;

    max-width: 73%;
    margin: 0 auto;
}

/***********   header  ***********/

.header {
    height: 137px;

    background: url('assets/images/header.png');
}

.header_logo {
    width: 290px;
    height: 90px;
    padding-top: 25px;
    margin-left: 23px;
}

.logo-pic {
    max-width: 290px;
}
.header_autorisation {
    font-family: sans-serif;
    font-size: 13px;
    font-weight: bold;
    line-height: 30px;

    position: absolute;
    top: 0;
    right: 0;

    width: 180px;
    height: 30px;

    text-transform: uppercase;

    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    background: #1b75ba;
}

.header_autorisation-reg-icon {
    width: 17px;
    height: 11px;
}

.header_autorisation-reg-text,
.header_autorisation-login-text {
    font-family: 'Signika', sans-serif;

    color: #fff;
}

.header_autorisation-reg-text:hover,
.header_autorisation-login-text:hover {

    color: #d93655;
}

.header_autorisation ul li {
    display: inline-block;
}

.header_autorisation li:first-child {
    width: 58%;
    padding-left: 10px;

    border-right: solid 1px #3c89cf;
}

.header_autorisation li:last-child {
    width: 42%;
    margin-left: -4px;
    padding-left: 10px;

    border-left: solid 1px #1d659c;
}
/****************    header menu              ******************/

.header_menu {
    position: relative;

    float: right;

    margin-top: -25px;
    margin-right: 10px;

    text-transform: uppercase;
}

.menu-list {
    display: inline-block;

    margin-left: 44px;

    text-align: center;
}

.menu-list-text {
    font-family: 'Signika', sans-serif;
    font-size: 18px;
    font-weight: bold;

    color: #1b75ba;
}

.menu-list:first-child {
    margin-right: 17px;
}

.menu-list-text:hover {
    color: #d93655;
    box-shadow: 0 1px #d93655;
}
/********************    content_wrapper   *************************/

.content_wrapper {
    min-height: 1263px;

    background: url('assets/images/ukstyle.jpg');
    background-size: cover;
}
/****************    left panel         *****************************/
.left_panel {
    position: relative;

    float: left;
    /*width: 570px;*/

    max-width: 58%;
    /*height: 1020px;*/
    margin-top: 40px;
    margin-left: 22px;

    background: url('assets/images/header.png');
}

.left_panel-content {
    padding: 35px 12px 35px 30px;
}

.left_panel-top {
    position: relative;

    margin-top: -50px;
    padding-bottom: 15px;

    border-bottom: 2px solid #f1f1f1;
}

.left_panel-top h2 {
    font-family: 'Signika', sans-serif;
    font-size: 50px;
    font-weight: lighter;

    margin-bottom: 14px;
    padding-right: 20px;
    text-align: center;

    color: #d93655;
}

.left_panel-top-button-red {
    position: relative;
    right: 2px;

    display: inline-block;

    width: 68px;
    height: 24px;
    margin-left: 7px;

    text-align: center;

    border-radius: 2px;
    background: #d93655;
}

.left_panel-top-button-red:hover {
    transform: translate(1px, 1px);
}

.left_panel-top-button-red-icon {
    position: relative;
    top: 2px;
    right: 3px;

    display: inline-block;
}

.left_panel-top-button-red-text {
    display: inline-block;
    font-family: 'Signika', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding-top: 3px;

    text-transform: uppercase;

    color: #fff;
}

.left_panel-top-steps {
    display: inline-block;

    margin-left: 127px;
}

.left_panel-top-steps-text {
    font-family: 'Signika', sans-serif;
    font-size: 20px;
    font-weight: lighter;

    color: #9f9e9e;
}

.left_panel-content-text {
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;

    margin-bottom: 25px;
    word-spacing: .14px;
    padding-left: 2px;
    padding-top: 14px;

    color: #8f8f8f;
}

.search {
    position: relative;

    margin: 0 21px 13px auto;
    padding-bottom: 9px;
}

.search_input {
    font-family: 'Signika', sans-serif;
    font-size: 22px;
    font-weight: lighter;

    width: 100%;
    padding: 13px 50px 11px 16px;

    color: #8f8f8f;
    border: 0 none;
    border-radius: 5px;
    outline: none;
    background: url('assets/images/search_bg.png') no-repeat;
    background-size: cover;
    box-shadow: inset 0 4px 7px rgba(0, 0, 0, .08);
}

.search_input::-webkit-input-placeholder {
    color: #8f8f8f;
}

.search_submit {
    position: absolute;
    top: 12px;
    right: 14px;

    display: block;

    width: 24px;
    height: 24px;

    cursor: pointer;

    border: none;
    outline: none;
    background: url('assets/images/search.png') 0 0 no-repeat;
    background-size: cover;
}

/**********************   products   **********************/
.products {
    position: relative;

    overflow: auto;

    width: 100%;
    height: 640px;
}

.products-container {
    position: relative;
    width: 97%;
    margin-top: 4px;
    border-top: 1px solid #e3e3e3;
}

.products-item {
    position: relative;

    display: inline-block;
    margin-top: 8px;
    margin-right: 16px;
    max-width: 30%;
    height: 184px;
}

.products-item:hover {
    transform: scale(1.05);
}

.products-item-added {
    display: none;
    position: absolute;
    top: 49%;
    left: 43%;
    z-index: 1;
}

.products-item-added.add,
.products-item-added-text.add {
    display: block;
}

.products-item-added-text {
    display: none;
    position: absolute;
    top: 70%;
    right: -12px;
    z-index: 1;
}


.products-item-added-text p {
    font-family: 'Signika', sans-serif;
    font-size: 16px;
    color: #1b75ba;
    text-align: center;
}


.products-item::after {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 106%;
    height: 220px;
    background-color: #fff;
    opacity: .95;
}

.products-item.add::after {
    display: block;
}

.products-item-link {
    position: relative;

    width: 100%;
}

.products-item-img {
    position: relative;
    top: 10px;
    right: 0;
    bottom: 0;
    left: 0;

    display: block;
    min-width: 95%;
    min-height: 80%;
    max-width: 95%;
    max-height: 80%;
    margin: auto;
    padding-bottom: 27px;

    background-color: #fff;
    box-shadow: 1px 3px 3px rgba(0, 0, 0, .1);
}

.products-item-img img {
    width: 100%;
    height: 100%;
}

.products-item-text,
.products-item-price {
    font-family: 'Signika', sans-serif;
    font-size: 14px;
}

.products-item-text {
    margin-top: 19px;
    padding-left: 3px;
}

.products-item-text p {
    color: #1b75ba;
}

.products-item-price {
    color: #d93655;
}

.left_panel-content-text-bottom {
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;

    margin-bottom: -6px;
    padding-top: 44px;
    padding-right: 13px;

    text-align: center;

    color: #8f8f8f;
}



/*************************  Right panel  ************************/

.right_panel {
    float: right;

    max-width: 36.3%;
    height: 950px;
    margin-top: 40px;
    margin-left: 25px;
}

.right_panel-content {
    position: relative;
}

.torn_sheet-1,
.torn_sheet-2 {
    position: absolute;
    right: 2px;

    width: 99%;
    height: 45px;
}

.torn_sheet-1 {
    z-index: 1;
    top: 24px;

    background: url('assets/images/torn_sheet_1.png') no-repeat;
    background-size: cover;
}

.torn_sheet-2 {
    z-index: 2;
    top: 21px;

    background: url('assets/images/torn_sheet_2.png') no-repeat;
    background-size: cover;
}

.right_panel-top {
    position: relative;
    z-index: 3;

    width: 100%;
    height: 57px;

    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background: url('assets/images/note.png') no-repeat;
    background-size: cover;
}

.right_panel-top a {
    position: relative;

    display: block;

    width: 40px;
    height: 40px;

    cursor: pointer;

    border: 1px solid #033357;
    border-radius: 2px;
}

.right_panel-top-extend {
    float: left;

    margin-top: 6px;
    margin-left: 6px;
}

.right_panel-top-extend:hover,
.right_panel-top-pencil:hover {
    box-shadow: inset 0 0 10px rgba(0,0,0,0.5);
    transform: translate(1px, 1px);
}

.right_panel-top-extend-icon {
    position: relative;
    top: 20%;
    left: 30%;

    display: block;

    width: 16px;
    height: 26px;

    background: url('assets/images/extend.png') no-repeat;
}

.right_panel-top-pencil {
    float: right;

    margin-top: 6px;
    margin-right: 6px;
}

.right_panel-top-pencil-icon {
    position: relative;
    top: 26%;
    left: 28%;

    display: block;

    width: 26px;
    height: 26px;

    background: url('assets/images/pencil.png') no-repeat;
}

.right_panel-top-text {
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
    font-weight: bold;

    padding-top: 18px;

    text-align: center;

    color: #fff;
}

.right_panel-content .note {
    position: relative;

    height: 808px;
    padding-right: 7px;

    background: url('assets/images/page.jpg') no-repeat;
    background-size: cover;
    overflow: hidden;
}
.note-top {
    margin-top: 25px;
    margin-left: 7px;
}
.note-top img {
    float: left;
    width: 31%;
    border: 4px solid #fff;
    box-shadow: 1px 3px 3px rgba(0, 0, 0, .1);
}

.note-top-text-wrapper {
    height: 90px;
    overflow: hidden;
    padding: 12px;

}

.note-top-text-wrapper.open {
    height: 226px;
    width: 100%;
}

.note-top-text-wrapper-paper {
    font-family: 'Pacifico', cursive;
    font-size: 18px;
    line-height: 1.49;

    margin-bottom: 2px;

    color: #464545;
}

.note-top a {
    font-family: 'Ubuntu', sans-serif;
    font-size: 12px;

    text-decoration: underline;

    color: #a3acb3;
    padding-left: 17px;
}

.note-top a:hover {
    color: #d93655;
}
/**************************************/
.note-content {
    position: relative;

    overflow: auto;

    width: 99%;
    height: 553px;
    margin-top: 16px;
    padding-top: 8px;
    padding-left: 14px;

    border-top: 4px double #f9cdd5;
    border-bottom: 4px double #f9cdd5;
}

.note-content-img {
    display: inline-block;

    width: 80px;
    height: 80px;
}

.note-content-img img {
    width: 100%;

    border: 4px solid #fff;
    box-shadow: 1px 3px 3px rgba(0, 0, 0, .1);
}

.note-content-description {
    display: inline-block;
    float: right;

    width: 72.5%;
    padding-left: 5px;
}

.note-content-description-name {
    font-family: 'Pacifico', cursive;
    font-size: 20px;

    display: inherit;

    color: #1b75ba;
}


.note-content-description-price {
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    font-weight: 500;
    display: block;

    margin-top: 2px;

    color: #d93655;
}

.note-content-description .where {
    position: relative;
    top: 8px;
    left: 8px;

    width: 57px;
    height: 20px;
}

.note-content-description .by {
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    font-weight: 500;

    color: #373737;
}
/**************** note-content-menu *****************/
.note-content-menu {
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;

    position: relative;
    right: 2px;
    display: none;

    max-width: 97.6%;
    height: 89px;
    margin-top: 24px;
    padding: 23px 10px 25px 32px;

    border-radius: 3px;
    background: #db405e;
}
.note-content-menu.open-menu {
    display: block;
}

.note-content-menu-search {
    position: relative;

    display: inline-block;

    width: 45%;
}

.note-content-menu-search-input {
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;

    display: block;

    width: 100%;
    height: 40px;
    padding: 14px 13px 15px 38px;

    color: #d93655;
    background: #f7f7f7;
    border: 0 none;
    border-radius: 3px;
    outline: none;
}

.note-content-menu-search-input::-webkit-input-placeholder {
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #d93655;
}

.clip_one {
    position: absolute;
    top: 58px;
    left: -4px;

    width: 35px;
    height: 46px;

    background: url('assets/images/clip_1.png') no-repeat;
    background-size: cover;
}

.clip_two {
    position: absolute;
    top: 49px;
    left: -4px;

    width: 49px;
    height: 32px;

    background: url('assets/images/clip_2.png') no-repeat;
    background-size: cover;
}

.clip_three {
    position: absolute;
    top: 148px;
    left: -2px;

    width: 44px;
    height: 42px;

    background: url('assets/images/clip_3.png') no-repeat;
    background-size: cover;
}



.note-content-menu-search-submit {
    position: absolute;
    top: 10px;
    left: 10px;

    display: block;

    width: 19px;
    height: 21px;

    cursor: pointer;

    border: none;
    outline: none;
    background: url('assets/images/search_menu.png') no-repeat;
    background-size: cover;
}

.note-content-menu-search-submit:hover {
    transform: scale(1.08);
}

/********************* Menu options *************************/
ul.menu_options {
    position: relative;
    left: 2px;
    display: inline-block;
    float: right;

    max-width: 52%;
    min-width: 52%;
    height: 40px;
    padding: 10px 0 0 12px;

    border-radius: 3px;
    background: #f7f7f7;
    z-index: 1;
}

ul.menu_options > li > a {
    display: block;
    width: 100%;
    height: 100%;
}

.menu_options-link span:first-child:hover, .menu_options-item-text:hover {
    box-shadow: 0 1px #d93655;
}

.menu_options-item-link,
ul.menu_options span {
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #d93655;
    vertical-align: top;
}

.menu_options-arrow_menu {
    display: inline-block;
    position: relative;
    top: 6px;
    left: 1px;
    width: 9px;
    height: 6px;
    margin-bottom: 3px;
    margin-left: 8px;

    background: url('assets/images/arrow_menu.png') no-repeat;
}


ul.submenu_options {
    display: none;
    position: absolute;
    top: 38px;
    left: -1px;
    width: 101%;
    height: 83px;
    background: #f7f7f7;
    border-right: 1px solid #d93655;
    border-bottom: 1px solid #d93655;
    border-left: 1px solid #d93655;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

ul.submenu_options > li {
    display: block;
    padding: 12px 0 10px 7px;
    border-top: 1px solid #d93655;
}

.menu_options-item-refresh-icon {
    margin-right: 2px;
}


ul.submenu_options > li:last-child {
    position: relative;
    bottom: 5px;
    left: 1px;
}

ul.menu_options:hover > li > ul.submenu_options {
    display: block;
}

/**************** Product Right ******************/

.product {
    display: block;
    padding-top: 15px;
    cursor: pointer;
}

.product.close {
    display: none;
}

.under-menu {
    position: relative;
    margin-top: 10px;
    width: 100%;
    height: 93px
}

.under-menu-img {
    display: inline-block;
    width: 23%;
}

.under-menu-img img {
    width: 100%;
    border: 4px solid #fff;
    box-shadow: 1px 3px 3px rgba(0, 0, 0, .1);
}

.under-menu .note-content-description .where {
    position: inherit;
}

.expected-product {
    position: absolute;
    top: 0;
    right: 6px;

    width: 100%;
    height: 100%;
    padding: 31px 31px 26px 60px;

    content: '';

    opacity: .8;
    background-color: #e8e8e8;
}

.expected-product-link {
    position: relative;
    left: 4px;
    bottom: 62px;
    margin: 0 auto;
    width: 72%;
}

.expected-product-link a {
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;

    display: inline-block;

    padding: 7px 17px 7px 15px;

    text-align: center;

    color: #6d6d6d;
    border-radius: 3px;
    background: #fff;
}

.logo_2 {
    position: relative;

    width: 285px;
    height: 85px;
    margin-left: 40px;
}

.logo_2 img {
    width: 100%;
}

.right_panel-bottom {
    position: relative;

    width: 100%;
    height: 88px;
    padding: 15px;

    background: url('assets/images/note.png') no-repeat;
    background-size: cover;
}

.right_panel-bottom-button {
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
    font-weight: bold;

    display: block;

    width: 100%;
    padding: 10px 0;

    text-align: center;

    color: #fff;
    border: 1px solid #033357;
    border-radius: 5px;
}

.right_panel-bottom-button:hover {
    box-shadow: inset 0 0 10px rgba(0,0,0,0.5);
    transform: translate(1px, 1px);
}

.footer {
    background: url('assets/images/header.png');
}

.footer .container {
    text-align: center;
}

.footer_logo {
    position: relative;
    left: 10px;
    width: 325px;
    height: 93px;
    margin: 0 auto;
    padding-top: 50px;
}

.footer_logo .logo-pic {
    max-width: 325px;
}

.social_network {
    position: relative;
    left: 10px;

    margin: 57px auto 0 auto;
}

.facebook_icon,
.twitter_icon {
    display: inline-block;
    border-radius: 50%;
    width: 46px;
    height: 46px;
}

.facebook_icon:hover,
.twitter_icon:hover {
    transform: scale(1.1);
    box-shadow: 0 0 7px rgba(0,0,0,0.5);
}

.facebook_icon-link,
.twitter_icon-link {
    width: 100%;
}

.facebook_icon {
    margin-right: 10px;
}

.twitter_icon {
    margin-left: 8px;
}

.footer_menu {
    margin: 45px auto 0 auto;
    position: relative;
}

.footer_menu-list-item {
    display: inline-block;
}

.footer_menu-list-text:hover {
    color: #d93655;
    box-shadow: 0 1px #d93655;
}

.footer_menu-list-item-link {
    font-family: 'Signika', sans-serif;
    font-size: 16px;
    font-weight: bold;

    margin-left: 25px;

    text-transform: uppercase;

    color: #1b75ba;
}

.footer_menu-list-item.contact {
    position: relative;
    right: 6px;
}

.footer_menu-list-item.register {
    position: relative;
    right: 3px;
}

.footer_menu-list-item.create {
    position: relative;
    left: 2px;
}

.footer_menu-list-item-link:hover {
    color: #d93655;
    box-shadow: 0 1px #d93655;
}

.footer_copyright {
    position: relative;
    left: 12px;
    margin-top: 17px;
}

.footer_copyright span {
    font-family: 'Signika', sans-serif;
    font-size: 15px;

    color: #a2a2a2;
}

/*************  Полоса прокрутки ************/
::-webkit-scrollbar-button {
    width: 2px;
    height: 0;

    background-image: url('');
    background-repeat: no-repeat;
}

::-webkit-scrollbar-track {
    background-color: #d7d7d7;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0;
    border-radius: 10px;
    background-color: #8c8c8c;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #6b6b6b;
}

::-webkit-resizer {
    width: 4px;
    height: 0;

    background-image: url('');
    background-repeat: no-repeat;
}

::-webkit-scrollbar {
    width: 7px;
}
/*************************Адаптивим****************************/

@media only screen and (max-width: 390px) {
    .header {
        height: 180px;
    }
    .header_logo {
        padding-top: 40px;
    }
    .header_menu {
        margin-top: 50px;
    }
    .container {
        max-width: 95%;
    }
    .left_panel-top   h2 {
        font-size: 44px;
    }
    .search_input {
        font-size: 16px;
    }
    .products-item {
        max-width: 77%;
        margin-left: 20px;
    }
    .products-item-text {
        margin-top: 100px;
    }
    .products-item-text p, .products-item-price {
        font-size: 15px;
    }
    .products-item::after {
        height: 268px;
    }
    .menu-list-text {
        font-size: 15px;
    }
    .footer_logo {
        left: -10px;
    }
}

@media only screen and (min-width: 391px) and (max-width: 465px) {
    .products-item-text p, .products-item-price {
        font-size: 14px;
    }
    .products-item-text {
        margin-top: 33px;
    }
    .search_input {
        font-size: 20px;
    }
}

@media only screen and (max-width: 465px) {
    .header_logo {
        padding-top: 32px;
        margin: 0 auto;
    }
    .search_input {
        padding: 13px 35px 11px 7px;
    }
    .search_submit {
        top: 8px;
        right: 5px;
    }
    .footer_menu-list-item-link {
        margin-left: 0;
    }
}
@media only screen and (max-width: 410px) {
    .right_panel {
        min-width: 300px;
    }
    .note-top-text-wrapper.open {
        height: 300px;
    }
    .note-content-description {
        width: 69.5%;
    }
    .note-content-description-name {
        font-size: 17px;
    }
    .note-content-menu {
        padding: 23px 6px 25px 6px;
    }
    ul.menu_options {
        min-width: 55%;
    }
}

@media only screen and (min-width: 391px) and (max-width: 500px) {
    .products-item-text {
        margin-top: 40px;
        padding-left: 3px;
    }
}

@media only screen and (min-width: 501px) and (max-width: 568px) {
    .products-item-text {
        margin-top: 65px;
    }
    .products-item::after {
        height: 242px;
    }
}
@media only screen and (min-width: 569px) and (max-width: 640px) {
    .products-item-text {
        margin-top: 90px;
    }
    .products-item::after {
        height: 255px;
    }
}

@media only screen and (min-width: 391px) and (max-width: 670px) {
    .header {
        height: 170px;
    }
    .header_menu {
        margin-top: 30px;
    }
}
@media only screen and (max-width: 670px) {
    .menu-list:first-child {
        margin-right: 0;
    }
    .menu-list {
        margin-left: 10px;
    }
    .footer_menu {
        margin: 8px auto 0 auto;
    }
    .footer_menu-list-item {
        width: 40%;
    }
    .footer_menu-list-item.home {
        width: 70%;
    }
}
@media only screen and (min-width: 671px) and (max-width: 800px) {
    .header_menu {
        margin: 0;
    }
}

@media only screen and (min-width: 641px) and (max-width: 800px) {
    .products-item-text {
        margin-top: 139px;
    }
    .products-item::after {
        height: 301px;
    }
}
@media only screen and (min-width: 411px) and (max-width: 800px) {
    .right_panel {
        min-width: 370px;
    }
}
@media only screen and (max-width: 800px) {
    .header_menu {
        float: inherit;
        text-align: center;
    }
    .content_wrapper {
        min-height: 2170px;
        padding-top: 36px;
    }
    .left_panel {
        float: inherit;
        max-width: 90%;
        margin: 0 auto;
    }
    .right_panel {
        float: inherit;
        position: relative;
        margin: 30px auto;
    }
}

@media only screen and (min-width: 801px) and (max-width: 834px) {
    .left_panel-top-steps {
        margin-left: 110px;
    }
}
@media only screen and (min-width: 801px) and (max-width: 985px) {
    .products-item-text p, .products-item-price {
        font-size: 12px;
    }
    .note-content-menu-search-input::-webkit-input-placeholder,
    .note-content-menu-search-input, ul.menu_options span {
        font-size: 14px;
    }
}
@media only screen and (min-width: 801px) and (max-width: 985px) {
    .left_panel, .right_panel {
        max-width: 45%;
    }
    .left_panel-top   h2 {
        font-size: 45px;
    }
    .products-item-text {
        margin-top: 25px;
    }
    .products-item::after {
        height: 138%;
    }
    .products-item-added-text p {
        font-size: 12px;
    }
}
@media only screen and (min-width: 641px) and (max-width: 985px) {
    .left_panel {
        height: 1100px;
    }
}
@media only screen and (max-width: 985px) {
    .products-item {
        height: 143px;
    }
    .under-menu-img {
        width: 19%;
    }
}
@media only screen and (min-width: 391px) and (max-width: 1043px) {
    .container {
        max-width: 90%;
    }
}
@media only screen and (min-width: 1044px)  and (max-width: 1108px) {
    .container {
        max-width: 85%;
    }
}
@media only screen and (min-width: 1109px)  and (max-width: 1216px) {
    .container {
        max-width: 80%;
    }
}
@media only screen and (min-width: 986px) and (max-width: 1216px) {
    .products-item-text {
        margin-top: 70px;
    }
    .products-item::after {
        height: 143%;
    }
}

@media only screen  and (min-width: 1217px) and (max-width: 1284px) {
    .products-item-text {
        margin-top: 85px;
    }
    .products-item::after {
        height: 280px;
    }
}

@media only screen and (min-width: 391px)  and (max-width: 1284px) {
    .products-item {
        max-width: 42%;
    }
}
@media only screen  and (min-width: 1285px) and (max-width: 1345px) {
    .products-item::after {
        height: 230px;
    }
}
@media only screen and (min-width: 981px) and (max-width: 1345px) {
    .note-content-menu-search-input,
    .note-content-menu-search-input::-webkit-input-placeholder,
    ul.menu_options span {
        font-size: 14px;
    }
    .expected-product-link {
        width: 55%;
    }
}

/* Настольные компьютеры и ноутбуки ----------- */

@media only screen  and (min-width: 1387px) {
    .under-menu-img {
        width: 22%;
    }
}
@media only screen  and (min-width: 1451px) {
    .products-item-text {
        margin-top: 30px;
    }
    .under-menu-img {
        width: 21%;
    }
}
@media only screen and (min-width: 1285px)  and (max-width: 1535px) {
    .products-item::after {
        height: 227px;
    }
}

@media only screen  and (min-width: 1536px) {
    .products-item-text {
        margin-top: 45px;
    }
    .under-menu-img {
        width: 19%;
    }
}
@media only screen and (min-width: 1536px)  and (max-width: 1676px) {
    .products-item::after {
        height: 240px;
    }
}
@media only screen  and (min-width: 1677px) {
    .products-item::after {
        height: 279px;
    }
    .products-item-text {
        margin-top: 85px;
    }
    .under-menu-img {
        width: 17%;
    }
}
/* Большие экраны ----------- */
@media only screen  and (min-width: 1824px) {
    .expected-product-link {
        left: 40px;
    }
    .under-menu-img {
        width: 16%;
    }
}

